.frame-child,
.logo-wrapper-child {
  width: 47.5px;
  height: 27px;
  position: relative;
}
.frame-child {
  width: 28px;
  height: 12.7px;
}
.frame-inner,
.frame-item {
  height: 3.4px;
  width: 3.4px;
  position: relative;
  background: linear-gradient(180deg, #a57946, #f7d9bc);
}
.rectangle-parent {
  width: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs-4);
}
.frame-child1,
.rectangle-div {
  height: 3.4px;
  width: 3.4px;
  position: relative;
  background: linear-gradient(180deg, #a57946, #f7d9bc);
}
.frame-parent,
.rectangle-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs-4);
}
.rectangle-group {
  width: 9px;
  flex-direction: row;
}
.frame-parent {
  flex-direction: column;
  padding: 0 var(--padding-3xs);
  z-index: 1;
  margin-top: -3px;
}
.vector-parent {
  padding: 0 var(--padding-4xs) 0;
  z-index: 1;
  margin-top: -17px;
}
.logo-wrapper1,
.vector-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dylan-estate {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 113px;
  white-space: nowrap;
}
.estate-name,
.logo-parent {
  display: flex;
  justify-content: center;
}
.estate-name {
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-11xs);
}
.logo-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xs);
  flex-shrink: 0;
}
.logo1 {
  height: 48px;
  width: 105px;
  padding: 0;
  box-sizing: border-box;
}
.logo,
.logo-wrapper,
.logo1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  font-size: var(--font-size-lg);
  color: var(--color-peru);
  font-family: var(--font-merriweather);
}
.home {
  align-self: stretch;
  flex: 1;
  position: relative;
  white-space: nowrap;
}
.component-55 {
  height: 27px;
  display: none;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xs) 0;
  box-sizing: border-box;
}
.home1 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 88px;
}
.component-52 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) 0;
}
.home2 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
}
.component-521 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) 0;
}
.home3 {
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
}
.component-58 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) 0;
}
.home4 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 93px;
  white-space: nowrap;
}
.component-56 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) 0;
}
.home5 {
  position: relative;
  display: inline-block;
  min-width: 42px;
}
.component-57,
.home-instance-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) 0;
}
.home-instance-parent {
  flex-direction: column;
  padding: 0 var(--padding-5xs) 0 0;
}
.line-div {
  width: 1.4px;
  height: 25.4px;
  position: relative;
  border-right: 1.4px solid var(--color-black);
  box-sizing: border-box;
}
.home-component-parent-inner {
  height: 24px;
  width: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.frame-icon,
.frame-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-icon1 {
  width: 21px;
  height: 21px;
}
.frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
}
.detail-content-wrapper,
.home-component-parent,
.nav-bars {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.home-component-parent {
  width: 951px;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-13xl);
}
.detail-content-wrapper,
.nav-bars {
  flex-shrink: 0;
}
.nav-bars {
  align-self: stretch;
  height: 74px;
  background-color: var(--cream);
  border: 1px solid var(--cream-dark);
  overflow: hidden;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-43xl) var(--padding-smi)
    var(--padding-41xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--body-regular-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.detail-content-wrapper {
  width: 1235px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xl);
}
.sellers-flow-property-detail {
  width: 100%;
  position: relative;
  background-color: var(--neutral-1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-199xl);
  box-sizing: border-box;
  gap: var(--gap-2xs);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .home-component-parent {
    display: none;
  }
}
@media screen and (max-width: 725px) {
  .home-component-parent {
    gap: var(--gap-base);
  }
  .nav-bars {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
}
