.frame-icon2 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.property-details2 {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: var(--body-regular-size);
  font-family: var(--font-merriweather-sans);
  color: var(--main-blue);
  text-align: center;
}
.location-detail-headers {
  align-self: stretch;
  background-color: var(--cream);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-17xl);
}
.form-sections-headings {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 191px;
  max-width: 195px;
}
.location-details {
  flex: 1;
  position: relative;
  font-size: var(--body-regular-size);
  font-family: var(--font-merriweather-sans);
  color: var(--main-blue);
  text-align: center;
}
.location-details-wrapper {
  align-self: stretch;
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-17xl);
}
.component-1251 {
  flex: 1;
  box-shadow: 0-2px 4px rgba(18, 43, 73, 0.2) inset, 0 2px 6px #fff inset,
    0 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 191px;
  max-width: 195px;
}
.features-amenities {
  flex: 1;
  position: relative;
  font-size: var(--body-regular-size);
  font-family: var(--font-merriweather-sans);
  color: var(--grey-text-2);
  text-align: center;
}
.component-126 {
  flex: 0.5799;
  background-color: var(--cream);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-22xl);
  box-sizing: border-box;
  min-width: 191px;
  max-width: 195px;
}
.price-details {
  flex: 1;
  position: relative;
  font-size: var(--body-regular-size);
  font-family: var(--font-merriweather-sans);
  color: var(--grey-text-2);
  text-align: center;
}
.component-127 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-12xl) var(--padding-22xl);
  background-color: var(--cream);
  flex: 0.5799;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 191px;
  max-width: 195px;
  white-space: nowrap;
}
.component-127:hover {
  background-color: var(--color-gainsboro-100);
}
.property-images {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: var(--body-regular-size);
  font-family: var(--font-merriweather-sans);
  color: var(--grey-text-2);
  text-align: center;
}
.component-128,
.form-sections-headings-parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.component-128 {
  flex: 0.5799;
  background-color: var(--cream);
  align-items: center;
  padding: var(--padding-3xl) var(--padding-22xl);
  box-sizing: border-box;
  min-width: 191px;
  max-width: 195px;
}
.form-sections-headings-parent {
  align-self: stretch;
  align-items: flex-start;
  row-gap: 20px;
}
.frame-child5,
.frame-child6 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-child5 {
  background-color: var(--border-grey);
  width: 100%;
  height: 100%;
  display: none;
}
.frame-child6 {
  background-color: var(--main-blue);
  width: 195px;
  height: 8px;
  z-index: 1;
}
.group-div {
  height: 8px;
  flex: 1;
  position: relative;
  background-color: var(--border-grey);
  max-width: 100%;
}
.property-details-child {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-17xl);
  box-sizing: border-box;
  max-width: 100%;
}
.empty-title,
.title7 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 22px;
  font-family: var(--font-inter);
}
.title7 {
  font-weight: 500;
  color: var(--main-blue);
  text-align: left;
}
.empty-title {
  color: var(--dust-red-5);
  text-align: right;
  display: inline-block;
  min-width: 8px;
}
.input-prefix-icon2,
.label7 {
  overflow: hidden;
  flex-shrink: 0;
}
.label7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-9xs);
}
.input-prefix-icon2 {
  height: 14px;
  width: 14px;
  position: relative;
  object-fit: contain;
  display: none;
}
.placeholder3 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 22px;
  font-family: var(--body-regular);
  color: var(--character-disabled-placeholder-25);
  text-align: left;
}
.placeholder2 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 164px;
  max-width: 100%;
}
.input-suffix-icon2,
.vector-icon {
  height: 6px;
  width: 12px;
  position: relative;
  object-fit: contain;
}
.input-suffix-icon2 {
  height: 14px;
  width: 14px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.input2 {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--neutral-1);
  border: 1px solid var(--neutral-5);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-6xs) var(--padding-2xs);
  gap: var(--gap-9xs);
}
.apartment-name,
.input2,
.label-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.apartment-name {
  align-self: stretch;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--br-11xs);
  background-color: var(--neutral-1);
  border: 1px solid var(--grey-text-2);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  min-height: 42px;
  flex-shrink: 0;
}
.label-parent {
  height: 70px;
  width: 380px;
  flex-direction: column;
  align-items: flex-start;
}
.empty-locality-title,
.title8 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 22px;
  font-family: var(--font-inter);
  display: inline-block;
}
.title8 {
  font-weight: 500;
  color: var(--main-blue);
  text-align: left;
  min-width: 110px;
}
.empty-locality-title {
  color: var(--dust-red-5);
  text-align: right;
  min-width: 8px;
}
.input-prefix-icon3,
.label8 {
  overflow: hidden;
  flex-shrink: 0;
}
.label8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-9xs);
}
.input-prefix-icon3 {
  height: 14px;
  width: 14px;
  position: relative;
  object-fit: contain;
  display: none;
}
.placeholder5 {
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 22px;
  font-family: var(--font-inter);
  color: var(--character-disabled-placeholder-25);
  text-align: left;
  display: inline-block;
  min-width: 119px;
}
.placeholder4 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 119px;
  max-width: 100%;
}
.input-suffix-icon3,
.vector-icon1 {
  height: 6px;
  width: 12px;
  position: relative;
  object-fit: contain;
}
.input-suffix-icon3 {
  height: 14px;
  width: 14px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.input3 {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--neutral-1);
  border: 1px solid var(--neutral-5);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-6xs) var(--padding-2xs);
  gap: var(--gap-9xs);
}
.frame-div,
.frame-parent1,
.input3,
.label-group,
.locality {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.locality {
  align-self: stretch;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--br-11xs);
  background-color: var(--neutral-1);
  border: 1px solid var(--grey-text-2);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  min-height: 42px;
  flex-shrink: 0;
}
.frame-div,
.frame-parent1,
.label-group {
  align-items: flex-start;
}
.label-group {
  height: 70px;
  width: 380px;
  flex-direction: column;
}
.frame-div,
.frame-parent1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-41xl);
  flex-shrink: 0;
}
.title9 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 22px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--character-title-85);
  text-align: left;
}
.label-wrapper,
.label9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.label9 {
  overflow: hidden;
  padding: 0 0 var(--padding-5xs);
}
.label-wrapper {
  align-self: stretch;
}
.map-maker-shanti-nagar-mira {
  position: absolute;
  top: 0;
  left: 0.5px;
  width: 820px;
  height: 380px;
  object-fit: cover;
}
.input-prefix-icon4 {
  height: 14px;
  width: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  display: none;
}
.frame-icon3,
.placeholder7 {
  height: 22px;
  position: relative;
}
.frame-icon3 {
  width: 22px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.placeholder7 {
  width: 250px;
  border: 0;
  outline: 0;
  font-family: var(--body-regular);
  font-size: var(--body-regular-size);
  background-color: transparent;
  line-height: 22px;
  color: var(--character-disabled-placeholder-25);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.placeholder6 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.input-suffix-icon4 {
  height: 14px;
  width: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  display: none;
}
.input4 {
  position: absolute;
  top: 20px;
  left: calc(50% - 369px);
  border-radius: var(--br-11xs);
  background-color: var(--neutral-1);
  border: 1px solid var(--neutral-5);
  box-sizing: border-box;
  width: 737px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-2xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  z-index: 1;
}
.seller-pinning-address {
  align-self: stretch;
  height: 400px;
  position: relative;
  max-width: 100%;
}
.frame-parent2,
.property-location,
.property-location-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent2 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xs);
  flex-shrink: 0;
}
.property-location,
.property-location-wrapper {
  box-sizing: border-box;
}
.property-location {
  height: 368px;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
  padding: 0 0 168px;
  gap: var(--gap-41xl);
}
.property-location-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-59xl);
}
.property-details1 {
  margin: 0;
  width: 976px;
  box-shadow: 0 2px 8px 2px rgba(18, 43, 73, 0.18);
  border-radius: var(--br-base);
  background-color: var(--neutral-1);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
}
.frame-container,
.property-details-frame,
.property-details1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.property-details-frame {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.frame-container {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-4xl);
}
.sellers-flow-location-detail-inner {
  width: 1235px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xl);
  box-sizing: border-box;
  max-width: 100%;
}
.sellers-flow-location-detail {
  width: 100%;
  position: relative;
  background-color: var(--neutral-1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-199xl);
  box-sizing: border-box;
  gap: var(--gap-2xs);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1000px) {
  .form-sections-headings-parent {
    flex-wrap: wrap;
  }
  .frame-div,
  .frame-parent1 {
    flex-wrap: wrap;
    gap: var(--gap-11xl);
  }
  .property-location {
    height: auto;
    gap: var(--gap-11xl);
    padding-bottom: 109px;
    box-sizing: border-box;
  }
  .property-location-wrapper {
    padding-left: var(--padding-20xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .component-126,
  .component-127,
  .component-128 {
    flex: 1;
  }
  .input2 {
    flex-wrap: wrap;
  }
  .label-parent {
    height: auto;
  }
  .input3 {
    flex-wrap: wrap;
  }
  .label-group {
    height: auto;
  }
  .property-location {
    padding-bottom: 71px;
    box-sizing: border-box;
  }
}
