.sell-or-rent1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.whether-youre-ready1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 300;
  z-index: 1;
}
.sell-or-rent-your-property-for-parent {
  width: 821px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.lets-get-you1 {
  margin: 0;
  width: 267px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.left-button-spacer-child {
  align-self: stretch;
  width: 13px;
  position: relative;
  background-color: var(--color-whitesmoke);
}
.left-button-spacer {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.frame-child8 {
  position: absolute;
  height: 20.82%;
  width: 61.54%;
  top: 6.94%;
  right: 23.08%;
  bottom: 72.24%;
  left: 15.38%;
  border-radius: var(--br-mini);
  background-color: var(--color-lightgray-100);
  z-index: 1;
}
.left-button-spacer-parent {
  height: 245px;
  width: 13px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -244.5px;
  z-index: 1;
}
.lets-get-you-started-parent {
  align-self: stretch;
  background-color: var(--cream);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-5) var(--padding-49xl) var(--padding-mid-5);
  position: relative;
  gap: var(--gap-13xl);
}
.div47,
.title16 {
  position: relative;
  line-height: 22px;
}
.title16 {
  font-weight: 500;
}
.div47 {
  font-size: var(--body-regular-size);
  color: var(--dust-red-5);
  text-align: right;
  display: inline-block;
  min-width: 7px;
}
.title-placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.placeholder16 {
  position: relative;
  font-size: var(--font-size-xs);
  text-decoration: underline;
  line-height: 22px;
  color: var(--main-blue);
  display: inline-block;
  min-width: 44px;
}
.label15 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-xl);
}
.input-prefix-icon10 {
  height: 14px;
  width: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  display: none;
}
.placeholder17 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 22px;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font-inter);
  font-size: var(--body-regular-size);
  color: var(--character-disabled-placeholder-25);
  min-width: 214px;
  max-width: 100%;
}
.input-suffix-icon10 {
  height: 14px;
  width: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  display: none;
}
.input10,
.otp-seller {
  border-radius: var(--br-11xs);
  background-color: var(--neutral-1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.input10 {
  flex: 1;
  border: 1px solid var(--neutral-5);
  padding: var(--padding-6xs) var(--padding-2xs);
  gap: var(--gap-9xs);
}
.otp-seller {
  align-self: stretch;
  height: 42px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid var(--grey-text-2);
  overflow: hidden;
  flex-shrink: 0;
}
.placeholder18 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 70px;
}
.label16 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.verification-container {
  align-self: stretch;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
  font-size: var(--font-size-xs);
  color: var(--main-blue);
}
.login-container {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xl);
}
.call-to-action,
.form,
.login-container,
.seller-get-startedlog-in1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.seller-get-startedlog-in1 {
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
}
.call-to-action,
.form {
  box-sizing: border-box;
}
.form {
  width: 516px;
  flex-direction: row;
  padding: 0 var(--padding-49xl);
  font-size: var(--font-size-base);
  color: var(--character-title-85);
  font-family: var(--font-inter);
}
.call-to-action {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-66xl);
  gap: var(--gap-20xl-5);
}
.call-99999999992 {
  font-weight: 500;
  color: var(--color-black);
}
.need-help-call-9999999999-container2 {
  position: relative;
}
.need-help-call-9999999999-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-5) 0 0;
}
.view-properties2 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--neutral-1);
  text-align: left;
  display: inline-block;
  min-width: 43px;
}
.buttons2,
.frame-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.buttons2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs-5) var(--padding-14xl);
  background-color: transparent;
  border-radius: var(--br-5xs);
  background: linear-gradient(rgba(79, 79, 79, 0.2), rgba(79, 79, 79, 0.2)),
    #122b49;
  justify-content: flex-start;
}
.buttons2:hover {
  background-color: var(--color-slategray);
}
.frame-parent3 {
  align-self: stretch;
  background-color: var(--cream);
  justify-content: space-between;
  padding: var(--padding-base-5) var(--padding-13xl);
  gap: var(--gap-xl);
  font-size: var(--font-size-xs);
  color: var(--grey-text-2);
  font-family: var(--font-inter);
}
.landlord-details1,
.steps-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.landlord-details1 {
  width: 608px;
  box-shadow: 0-2px 6.2px 2px rgba(59, 48, 38, 0.16) inset,
    0 5px 10.8px 2px #fff inset, 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--neutral-1);
  border: 1px solid var(--border-grey);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs-5) 0 0;
  min-width: 608px;
  color: var(--main-blue);
}
.steps-container {
  width: 1068px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.steps-container-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--font-size-xl);
}
.hero,
.hero-content,
.steps-container-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.hero-content {
  width: 1138px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-19xl);
}
.hero {
  width: 1370px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--neutral-1);
  font-family: var(--font-merriweather-sans);
}
@media screen and (max-width: 1050px) {
  .landlord-details1 {
    flex: 1;
  }
  .steps-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1000px) {
  .sell-or-rent1 {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 725px) {
  .form {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
  .call-to-action {
    gap: var(--gap-xl);
  }
  .landlord-details1 {
    min-width: 100%;
  }
  .hero-content {
    gap: var(--gap-lgi);
  }
}
@media screen and (max-width: 450px) {
  .sell-or-rent1 {
    font-size: var(--font-size-lgi);
  }
  .lets-get-you1 {
    font-size: var(--font-size-base);
  }
  .lets-get-you-started-parent {
    gap: var(--gap-base);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .label15 {
    flex-wrap: wrap;
  }
  .seller-get-startedlog-in1 {
    gap: var(--gap-11xl);
  }
  .frame-parent3 {
    flex-wrap: wrap;
  }
}
